<div class="list">
  <form class="p-3" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <i class="fa-solid fa-arrow-down"></i>
    <input
      type="text"
      placeholder="What needs to be done ?"
      ngModel
      name="task"
    />
  </form>
  <ul class="tasks list-group">
    <app-task *ngFor="let task of tasks();let i = index" [content]="task" [index]="i"/>
  </ul>
  <footer
    class="d-flex justify-content-between flex-wrap gap-2 align-items-center"
  >
    <span>{{ tasks().length }} items</span>
    <div class="states">
      <button class="btn btn-light me-1" (click)="getAll()" [ngClass]="{'active':all}">All</button>
      <button class="btn btn-light me-1" (click)="getActive()" [ngClass]="{'active':active}">Active</button>
      <button class="btn btn-light" (click)="getCompleted()" [ngClass]="{'active':completed}">Completed</button>
    </div>
    <button class="btn btn-danger" (click)="onClear()">Clear Completed</button>
  </footer>
</div>
